<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<h1 class="header-icon"><i class="fa-solid fa-shield-dog  fa-5x"></i></h1>
<h1 class="title-header">Add your beloved pet into city database!</h1>
<h6 class="cw">This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.</h6>

<!-- Carousel -->
<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://th-thumbnailer.cdn-si-edu.com/VmzPzAffMSDTOUmFSQoh2DmYP0E=/fit-in/1600x0/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/ad/7b/ad7b3860-ad5f-43dc-800e-af57830cd1d3/labrador.jpg"
        class="d-block"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://www.campbellrivervet.com/wp-content/uploads/sites/60/2019/01/vet-dog.jpg"
        class="d-block"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://media.istockphoto.com/photos/large-group-of-various-breeds-of-dogs-together-on-a-white-background-picture-id1278389684?k=20&m=1278389684&s=612x612&w=0&h=L830XwlcFjPUc6c9-Kj5MfqJ7WHiwHlerStkRKDdQZc="
        class="d-block"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- /carousel end -->

<!-- Main Site -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <a href="/add-user" class="border-shadow">
        <span class="text-gradient"
          >New User <i class="fa-solid fa-paw"></i
        ></span>
      </a>
    </div>

    <!-- form handling -->
    <form action="/" method="POST">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>№</th>
            <th>Pet name</th>
            <th>Specie</th>
            <th>Gender</th>
            <th>Vaccinated</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%- include('include/_show') %>
        </tbody>
      </table>
    </form>
  </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
