<!-- form handling -->
<form action="/api/users" method="POST" id="add_user">
  <div class="new_user">
    <div class="form-group">
      <label for="name" class="text-light">Pet name </label>
      <input type="hidden" name="id" value="" />
      <input type="text" name="name" value="" placeholder="Jimmy" required />
    </div>

    <div class="form-group">
      <label for="specie" class="text-light">Specie </label>
      <input
        type="text"
        name="specie"
        value=""
        placeholder="labrador"
        required
      />
    </div>

    <div class="form-group">
      <label for="gender" class="text-light">Gender </label>
      <div class="radio inline">
        <input
          type="radio"
          id="radio-2"
          name="gender"
          value="Male"
          checked="checked"
          required
        />
        <label for="radio-2" class="radio-label">Male </label>
      </div>
      <div class="radio inline">
        <input type="radio" id="radio-3" name="gender" value="Female" />
        <label for="radio-3" class="radio-label">Female </label>
      </div>
    </div>

    <div class="form-group">
      <label for="vaccine" class="text-light">Vaccinated</label>
      <div class="radio inline">
        <input
          type="radio"
          id="radio-4"
          name="vaccine"
          value="Yes"
          placeholder="example@gmail.com"
          checked="check"
        />
        <label for="radio-4" class="radio-label">Yes</label>
      </div>
      <div class="radio inline">
        <input type="radio" id="radio-5" name="vaccine" value="No" />
        <label for="radio-5" class="radio-label">No</label>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn text-dark update">Save</button>
    </div>
  </div>
</form>
